@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Quicksand:wght@600&display=swap');

body {
  background-image: url(/assets/pattern.svg);
} 

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.weatherCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weatherCard {
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #cfe8ef;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1); 
}

.weatherCard:hover {
  background-color: white;
  transform: scale(1.025);
  box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.2);
}
