body {
  background-image: url(/assets/pattern.svg);
} 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weatherCardContainer {
  display: flex;
  flex-direction: row;
}

.weatherCard {
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: #cfe8ef;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1); 
}

.weatherCard:hover {
  background-color: aliceblue;
  transform: scale(1.05);
  box-shadow: 0 0 5px 3px rgb(0, 0, 0, 0.2);
}
